__pycache__/

# Compiled Qt translations
*.qm

# Compiled gettext translations
*.mo

# Build
build/
dist/
jdMinecraftLauncher.egg-info/

# Compiled UI
jdMinecraftLauncher/ui_compiled
jdMinecraftLauncher/ui/*.py

# Windows
WindowsBuild/
output/

# Idea
.idea/

# AppImage
*.AppImage
