__pycache__/

# Compiled Qt translations
*.qm

# Compiled gettext translations
*.mo

# Build
build/
dist/
jdMinecraftLauncher.egg-info/

# Windows
WindowsBuild/
output/

# Idea
.idea/

# AppImage
*.AppImage
