include README.md
include jdMinecraftLauncher/mclauncher-cmd.jar
include jdMinecraftLauncher/translation/*
include jdMinecraftLauncher/secrets.json
include jdMinecraftLauncher/Icon.svg
include jdMinecraftLauncher/DBusInterface.xml
include jdMinecraftLauncher/version.txt
