include jdMinecraftLauncher/utils/RssGenerator/files/*
include jdMinecraftLauncher/DBusInterface.xml
include jdMinecraftLauncher/translations/*.ts
include jdMinecraftLauncher/Distribution.toml
exclude jdMinecraftLauncher/ui_compiled/*
include jdMinecraftLauncher/secrets.json
include jdMinecraftLauncher/Icon.svg
include jdMinecraftLauncher/ui/*.ui
include BuildBackend.py
exclude tools/*
