# Created with jdDesktopEntryEdit 1.1
[Desktop Entry]
Type=Application
Name=jdMinecraftLauncher
Comment=An classic styled Minecraft Launcher
Icon=page.codeberg.JakobDev.jdMinecraftLauncher
TryExec=jdMinecraftLauncher
Exec=jdMinecraftLauncher %u
MimeType=x-scheme-handler/jdMinecraftLauncher;
Categories=Game;
Keywords=Minecraft;NBT ;
