# Created with jdDesktopEntryEdit 1.4
[Desktop Entry]
Type=Application
Name=jdMinecraftLauncher
Comment=Unofficial classic styled Minecraft Launcher
Icon=page.codeberg.JakobDev.jdMinecraftLauncher
TryExec=jdMinecraftLauncher
Exec=jdMinecraftLauncher %u
MimeType=x-scheme-handler/jdMinecraftLauncher;
Categories=Game;
Keywords=Minecraft;Sandbox;
PrefersNonDefaultGPU=true
SingleMainWindow=true
Actions=offline-mode;

[Desktop Action offline-mode]
Name=Offline Mode
Exec=jdMinecraftLauncher --offline-mode
